---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Poiret+One:400,700');

.page-header {
	font-family: "Poiret One";
	background-color: #000000;
	background-image: url("../../images/header.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}